@import "tailwindcss";

@theme {
    --color-yellow-base: #efb419;
    --color-yellow-bright: #fdfe7e;
    --color-yellow-dark: #fc9f01;
    --color-blue-highlight: #7fe6ef;
    --color-red-highlight: #c22303;
    --color-white: #ffffff;
    --color-gray: #7f7f7f;
    --color-black: #252525;

    --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);;
}

::selection {
    background-color: var(--color-red-highlight);
    color: var(--color-white);
}
